{% extends "dashboard/base.html" %}
{% load static %}

{% block menu %}
<li><a href="https://github.com/eea/copernicus_quality_tools">
    <span class="glyphicon glyphicon-cog"></span> Github</a>
</li>
<li><a href="https://github.com/eea/copernicus_quality_tools/wiki">
    <span class="glyphicon glyphicon-question-sign"></span> Documentation</a>
</li>
{% if user.is_authenticated %}
<li><a href="{% url 'logout' %}?next=/">
    <span class="glyphicon glyphicon-log-out"></span> Sign out ({{ user.get_username }})</a></li>
{% else %}
<li><a href="{% url 'login'%}">
    <span class="glyphicon glyphicon-log-in"></span>Sign in</a></li>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid main" style="padding-top: 70px;">

    <div class="row text-left">
        <ol class="breadcrumb">
          <li><a href="{% url 'deliveries' %}">CLMS QC Tool</a></li>
          <li class="active">Change password</li>
        </ol>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <div class="box1" style="padding:30px;">

{% if form.errors %}
<p>Your password confirmation did not match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

<form method="post" class="form-inline" action="{% url 'change_password' %}">
    {% csrf_token %}
    <!--<h1 class="h3 mb-3 font-weight-normal">Change password</h1>-->

    {# The form controls are styled by login.js script #}
    {{ form.old_password.label_tag }}
    {{ form.old_password }}
    <br>
    <br>
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    <br>
    <br>

    
   
    <!--
    <div class="checkbox mb-3">
        <label>
          <input value="remember-me" type="checkbox"> Remember me
        </label>
    </div>
    -->
    <button class="btn btn-lg btn-primary btn-block" value="login" type="submit">Change Password</button>
    {# The hidden input is internally used by Django for redirection (do not remove) #}
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="mt-5 mb-3 text-muted"></p>
</form>

{# Assumes you setup the password_reset view in your URLconf #}


                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-md-offset-5"><p>QC tool version: {{qc_tool_version}}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/change-password.js' %}"></script>
{% endblock js %}