{% extends "dashboard/base.html" %}

{% block menu %}

{% endblock %}

{% block content %}


<div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'files' %}">Copernicus QC Tool</a></li>
              <li class="active">Login</li>
            </ol>

            <div class="main">



<div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">

            <br><br>

            <div class="box1" style="padding:30px;">


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to enter the QC tool.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->


            </div>
        </div>
      </div>
</div>



            </div></div></div>


{% endblock %}