{% load static %}
{% if user.is_authenticated and account_access.can_view_deliveries %}
<li>
    <a href="{% url 'announcement' %}"{% if request.resolver_match.url_name == 'announcement' %} aria-current="page"{% endif %}>
        <svg class="ui-icon" aria-hidden="true" focusable="false"><use href="{% static 'dashboard/icons/ui.svg' %}#bell"></use></svg>
        Announcement
    </a>
</li>
{% endif %}
<li>
    <a href="https://github.com/eea/copernicus_quality_tools/wiki">
        <svg class="ui-icon" aria-hidden="true" focusable="false"><use href="{% static 'dashboard/icons/ui.svg' %}#book"></use></svg>
        Documentation
    </a>
</li>
{% if user.is_authenticated %}
<li class="dropdown site-nav-user{% if request.resolver_match.url_name == 'account_settings' or request.resolver_match.url_name == 'change_password' or request.resolver_match.url_name == 'password_change' or request.resolver_match.url_name == 'api_credential_rotate' or request.resolver_match.url_name == 'api_credential_revoke' %} site-nav-user--active{% endif %}">
    <button
        id="profile-menu-button"
        class="site-nav-button dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-controls="profile-menu"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <svg class="ui-icon" aria-hidden="true" focusable="false"><use href="{% static 'dashboard/icons/ui.svg' %}#user-circle"></use></svg>
        Profile
        <span class="caret" aria-hidden="true"></span>
    </button>
    <ul
        id="profile-menu"
        class="dropdown-menu dropdown-menu-right site-nav-dropdown-menu"
        aria-labelledby="profile-menu-button"
    >
        {% if account_access.can_access_account_settings %}
        <li>
            <a href="{% url 'account_settings' %}"{% if request.resolver_match.url_name == 'account_settings' %} aria-current="page"{% endif %}>
                <svg class="ui-icon" aria-hidden="true" focusable="false"><use href="{% static 'dashboard/icons/ui.svg' %}#settings"></use></svg>
                Settings
            </a>
        </li>
        {% endif %}
        {% include "accounts/includes/logout_form.html" %}
    </ul>
</li>
{% else %}
<li>
    <a href="{% url 'login' %}">
        <svg class="ui-icon" aria-hidden="true" focusable="false"><use href="{% static 'dashboard/icons/ui.svg' %}#log-in"></use></svg>
        Sign in
    </a>
</li>
{% endif %}
