{% load staticfiles static sekizai_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content=""/>
        <meta name="robots" content="{% block robots %}index, follow{% endblock robots %}"/>
        <meta name="keywords" content="mygeodata, cloud, converter, gis, warehouse, map, download"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-dialog.min.css" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}favicon.ico"/>
        {% render_block "css" %}


        {% render_block "js_head" %}

    </head>
    <body>
        <div id="wrap">
            <div id="main" class="clear-top">
                <!--<div class="container">-->
                <nav id="menucontainer" class="navbar navbar-default navbar-fixed-top">
                    <!--<div class="navbar navbar-default" role="navigation">-->
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}dashboard/img/logo_eea_big.png" style="height:40px;margin-top:-10px;float:left" /><span style="overflow: hidden;">&nbsp;&nbsp;Copernicus QC Tool
                            </span></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="/"><span>Checking</span></a></li>
                                <li class=""><a href="/new"><span>New Checking Task</span></a></li>
                                <li class=""><a href="/files"><span>Files</span></a></li>
                                <!--
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apps<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class=""><a href="/insitu"><span>Dropdown 1</span></a></li>
                                            <li class=""><a href="/propole"><span>Dropdown 2</span></a></li>
                                            <li class=""><a href="/iti"><span>Dropdown 3</span></a></li>
                                        </ul>
                                </li>
                                <li class=""><a href="/settings"><span>Settings</span></a></li>
                                -->
                                <li class=""><a href="/accounts/logout"><span>Sign Out (Jiří Kadlec)</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                {% block content %}{% endblock content %}

                {% render_block "js" %}
            </div>
            <br>
        </div>
        <footer class="footer">
            {% extends "dashboard/footer.html" %}
        </footer>
    </body>
</html>