{% load staticfiles static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content=""/>
        <meta name="robots" content="{% block robots %}index, follow{% endblock robots %}"/>
        <meta name="keywords" content="eea, copernicus, qc, tool, gis, wps, quality"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-dialog.min.css" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}favicon.ico"/>
        {% block css %}{% endblock css %}


        {% block js_head %}{% endblock js_head %}

    </head>
    <body>
        <div id="wrap">
            <div id="main" class="clear-top">
                <!--<div class="container">-->
                <nav id="menucontainer" class="navbar navbar-default navbar-fixed-top">
                    <!--<div class="navbar navbar-default" role="navigation">-->
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}dashboard/img/logo_eea_big.png" style="height:40px;margin-top:-10px;float:left" /><span style="overflow: hidden;">&nbsp;&nbsp;Copernicus QC Tool
                            </span></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block menu %}
                                <li class="active"><a href="/"><span>Files</span></a></li>
                                <li class=""><a href="/jobs"><span>Jobs</span></a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout ({{ user.get_username }})</a></li>
                                {% else %}
                                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                                {% endif %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </nav>

                {% block content %}{% endblock content %}

                {% block js %}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.js" type="text/javascript"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.min.js" type="text/javascript"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/js/tableexport.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" type="text/javascript"></script>
                {% endblock js %}
            </div>
            <br>
        </div>
        <footer class="footer">
            {% include "dashboard/footer.html" %}
        </footer>
    </body>
</html>