{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid main">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'deliveries' %}">{% if show_logo %}CLMS {% endif %}QC Tool</a></li>
                <li><a href="{% url 'boundaries' %}">Boundaries</a></li>
              <li class="active"><a href="">Upload Boundary Package</a></li>
            </ol>

            <div class="main">

                <div id="tool-canvas">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Upload Boundary Package
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Select Boundary Package ZIP File to Upload</h4>

                            {# 1. BUTTON TO TRIGGER THE ACTION #}
                            <button type="button" class="btn btn-primary js-upload-files">
                              <span class="glyphicon glyphicon-cloud-upload"></span> Upload boundary package (.zip) ...
                            </button>

                            {# Hidden single-file input driven by boundaries_upload.js. #}
                            <input id="fileupload" type="file" name="file"
                                   accept=".zip,application/zip"
                                   style="display: none;"
                                   data-url="{% url 'boundaries_upload_data' %}"
                                   data-success-url="{% url 'boundaries' %}">

                            <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Uploading...</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div id="upload-result" aria-live="polite"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <br><br><br><br>

    {% include "dashboard/html-spinner.html" %}


{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/boundaries_upload.js' %}"></script>
{% endblock js %}
