{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-table.min.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'dashboard/css/select2.min.css' %}" type="text/css" media="screen" />
{% endblock css %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'deliveries' %}">{% if show_logo %}Copernicus {% endif %}QC Tool</a></li>
              <li class="active"><a href="">Deliveries</a></li>
            </ol>

            <div class="main">

                <!-- Nav tabs -->
                <ul id="tabs_overview" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a id="tab_overview" href="#recent" aria-controls="home" role="tab" data-toggle="tab">
                            {% if user.is_superuser %}All Deliveries{% else %}My Deliveries{% endif %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="recent">
                        <div id="runs-toolbar-1">
                            <a href="{% url 'file_upload' %}" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                                Upload ZIP File(s)
                            </a>
                            <span>&nbsp;&nbsp;</span>
                            <button id="btn-qc-multi" onclick="" class="btn btn-success mr-10" disabled>
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                QC all selected
                            </button>
                            <span>&nbsp;&nbsp;</span>
                            <button id="btn-delete-multi" onclick="" class="btn btn-danger mr-10" disabled>
                                <span class="glyphicon glyphicon-delete" aria-hidden="true"></span>
                                Delete all selected
                            </button>
                        </div>
                        <table id="tbl-deliveries" class="table" data-checkbox-header="true" data-toggle="table" data-search-align="right" data-show-refresh="true" data-show-toggle="false" data-toolbar="#runs-toolbar-1" data-toolbar-align="left" data-show-filter="false" data-smart-display="true" data-sort-name="date_uploaded" data-sort-order="desc" data-show-export="false" data-pagination="true" data-side-pagination="client">
                            <thead>
                            <tr>
                                <th data-checkbox="true" data-formatter="checkboxFormatter"></th>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="filename" data-sortable="true">Name</th>
                                <th data-field="filepath" data-visible="false" data-sortable="true">Path</th>
                                <th data-field="date_uploaded" data-sortable="true" data-formatter="dateFormatter">Date Uploaded</th>
                                <th data-field="size_bytes" data-sortable="true" data-formatter="fileSizeFormatter">Size</th>
                                <th data-field="product_description" data-sortable="true">Product</th>
                                <th data-field="product_ident" data-visible="false" data-sortable="true" >Product Identifier</th>
                                {% if user.is_superuser %}
                                <th data-field="username" data-visible="true" data-sortable="true" >User</th>
                                {% else %}
                                <th data-field="username" data-visible="false" data-sortable="true" >User</th>
                                {% endif %}
                                <th data-field="last_job_status" data-sortable="true" data-formatter="statusFormatter" data-cell-style="statusCellStyle">QC Status</th>
                                {% if submission_enabled %}
                                <th data-field="date_submitted" data-visible="true" data-formatter="dateFormatter" data-sortable="true">Date Submitted</th>
                                {% endif %}
                                {% if user.is_superuser %}
                                <th data-field="is_deleted" data-visible="true" data-sortable="true" >Deleted</th>
                                {% endif %}
                                <th data-field="last_job_uuid" data-visible="false" data-sortable="true">Last job UUID</th>
                                <th data-field="actions" data-sortable="true" data-formatter="actionsFormatter">Actions</th>
                            </tr>
                            </thead>
                           <tbody>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            ...
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

{% endblock content %}

{% block js %}
    {{ block.super }}
    {% if submission_enabled %}
    <script type="text/javascript">var SUBMISSION_ENABLED = true;</script>
    {% else %}
    <script type="text/javascript">var SUBMISSION_ENABLED = false;</script>
    {% endif %}
    <script src="{% static 'dashboard/js/bootstrap-dialog.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
    <script src="{% static 'dashboard/js/deliveries.js' %}"></script>
{% endblock js %}
