{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" type="text/css" media="screen" />
{% endblock css %}

{% block menu %}
<li class=""><a href="/"><span>Checking Tasks</span></a></li>
<li class="s"><a href="/new"><span>New Checking Task</span></a></li>
<li class="active"><a href="/files"><span>Files</span></a></li>
{% endblock %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Copernicus QC Tool</a></li>
              <li class="active"><a href="">Files</a></li>
            </ol>

            <div class="main">

                {% if uploaded_file_url %}
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}


                <!-- Nav tabs -->
                <ul id="tabs_overview" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="tab_overview" href="#recent" aria-controls="home" role="tab" data-toggle="tab">Uploaded Files</a></li>
                    <!--
                    <li role="presentation"><a id="tab_templates" href="#servers" aria-controls="messages" role="tab" data-toggle="tab">New Check Job</a></li>
                    -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="recent">
                        <div id="runs-toolbar-1">
                            <a href="{% url 'file_upload' %}" class="btn btn-success" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Upload New File
                            </a>
                            <!--<button id="btn-new class=btn btn-default">Start New Checking</button>-->
                        </div>
                        <table id="tbl-files" class="table" data-toggle="table" data-search-align="right" data-show-refresh="true" data-show-toggle="false" data-toolbar="#runs-toolbar-1" data-toolbar-align="left" data-show-filter="false" data-smart-display="true" data-sort-order="desc" data-show-export="false" data-pagination="true" data-side-pagination="client">
                            <thead>
                            <tr>
                                <th data-field="filename" data-sortable="true">File Name</th>
                                <th data-field="filepath" data-sortable="true">File Path</th>
                                <th data-field="uploaded_time" data-sortable="true">Date Uploaded</th>
                            </tr>
                            </thead>
                           <tbody>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br><br>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/files.js' %}" type="text/javascript"></script>
{% endblock js %}