{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block menu %}
<li class="active"><a href="{% url 'files' %}"><span>Files</span></a></li>
<li class=""><a href="{% url 'jobs' %}"><span>Jobs</span></a></li>
{% endblock %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="/">Copernicus QC Tool</a></li>
              <li class="active"><a href="">Upload New File</a></li>
            </ol>

            <div class="main">

                <div id="tool-canvas">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Upload New File
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Select File to Upload (.gdb.zip or .tif)</h4>
                            <form id = "file_form" method="post" enctype="multipart/form-data">
                                <fieldset></fieldset>
                                <div class="form-group">
                                        {% csrf_token %}
                                        <input id="my-file" name="myfile" type="file" class="file" data-preview-file-type="text">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <br><br><br><br>

    {% include "dashboard/html-spinner.html" %}


{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
{% endblock js %}