{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" type="text/css" media="screen" />
{% endblock css %}

{% block menu %}
<li class=""><a href="{% url 'files' %}"><span>Files</span></a></li>
<li class="active"><a href="{% url 'jobs' %}"><span>Jobs</span></a></li>
{% endblock %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Copernicus QC Tool</a></li>
              <li class="active"><a href="">Products (Files)</a></li>
            </ol>

            <div class="main">

                {% if uploaded_file_url %}
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}


                <!-- Nav tabs -->
                <ul id="tabs_overview" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="tab_overview" href="#recent" aria-controls="home" role="tab" data-toggle="tab">Uploaded Products (Files)</a></li>
                    <!--
                    <li role="presentation"><a id="tab_templates" href="#servers" aria-controls="messages" role="tab" data-toggle="tab">New Check Job</a></li>
                    -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="recent">
                        <div id="runs-toolbar-1">
                            <a href="{% url 'file_upload' %}" class="btn btn-success" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Upload New Product
                            </a>
                            <!--<button id="btn-new class=btn btn-default">Start New Checking</button>-->
                        </div>
                        <table id="tbl-files" class="table" data-toggle="table" data-search-align="right" data-show-refresh="true" data-show-toggle="false" data-toolbar="#runs-toolbar-1" data-toolbar-align="left" data-show-filter="false" data-smart-display="true" data-sort-order="desc" data-show-export="false" data-pagination="true" data-side-pagination="client">
                            <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">ID</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="date" data-sortable="true">Date Uploaded</th>
                                <th data-field="size" data-sortable="true">Size (MB)</th>
                                <th data-field="product_type" data-sortable="true">Product Type</th>
                                <th data-field="status" data-sortable="true">Status</th>
                                <th data-field="actions" data-sortable="true">Actions</th>
                            </tr>
                            </thead>
                           <tbody>
                           <tr>
                               <td>1237</td>
                               <td>CLC2012_CZ_v1.gdb</td>
                               <td>17.6.2018</td>
                               <td>2000 MB</td>
                               <td>Unknown</td>
                               <td>Not Checked</td>
                               <td><button type="button" class="btn btn-primary">Run Checks!</button></td>
                           </tr>
                           <tr>
                               <td>1236</td>
                               <td>UA2015_Oulu_v1.gdb</td>
                               <td>19.6.2018</td>
                               <td>2000 MB</td>
                               <td>Urban Atlas</td>
                               <td><a href="/details/1234">Running (25%)</a></td>
                               <td> </td>
                           </tr>
                           <tr>
                               <td>1235</td>
                               <td class="danger">CLC2012_CZ_v2.gdb</td>
                               <td>18.6.2018</td>
                               <td>2000 MB</td>
                               <td>Corine Land Cover</td>
                               <td class="danger"><a href="/details/1234">Checks Failed</a></td>
                               <td><button type="button" class="btn btn-primary">Remove Files</button></td>
                           </tr>

                           <tr>
                               <td>1234</td>
                               <td class="success">CLC2012_CZ_v1.gdb</td>
                               <td>17.6.2018</td>
                               <td>2000 MB</td>
                               <td>Corine Land Cover</td>
                               <td class="success"><a href="/details/1234">Checks Passed</a></td>
                               <td><button type="button" class="btn btn-primary">Submit to EEA</button></td>
                           </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br><br>

{% endblock content %}

{% block js %}
    {{ block.super }}
{% endblock js %}