{% load static %}
<div class="container-fluid" id="section-footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row text-center">
                    <a href="https://copernicus.eu" aria-label="Copernicus website">
                        <img
                            class="footer-logo footer-logo-copernicus"
                            src="{% static 'dashboard/img/copernicus_eu_logo.svg' %}"
                            alt=""
                        />
                    </a>

                    <a href="https://eea.europa.eu" aria-label="European Environment Agency website">
                        <img
                            class="footer-logo footer-logo-eea"
                            src="{% static 'dashboard/img/logo_eea_square.png' %}"
                            alt=""
                        />
                    </a>
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
                    <p>Copyright © 2019-{% now "Y" %} Copernicus Programme</p>
                </div>

    </div>
</div>
