{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" type="text/css" media="screen" />
{% endblock css %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'index' %}">Copernicus QC Tool</a></li>
              <li class="active"><a href="{% url 'index' %}">Jobs</a></li>
            </ol>

            <div class="main">
                <!-- Nav tabs -->
                <ul id="tabs_overview" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="tab_overview" href="#recent" aria-controls="home" role="tab" data-toggle="tab">My Jobs</a></li>
                    <!--
                    <li role="presentation"><a id="tab_templates" href="#servers" aria-controls="messages" role="tab" data-toggle="tab">New Check Job</a></li>
                    -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="recent">
                        <div id="runs-toolbar-1">
                            <a href="{% url 'new_job' %}" class="btn btn-success" role="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                New QA Job
                            </a>
                            <!--<button id="btn-new class=btn btn-default">Start New Checking</button>-->
                        </div>
                        <table id="tbl-runs" class="table" data-toggle="table" data-search-align="right" data-show-refresh="true" data-show-toggle="false" data-toolbar="#runs-toolbar-1" data-toolbar-align="left" data-show-filter="false" data-smart-display="true" data-sort-order="desc" data-show-export="false" data-pagination="true" data-side-pagination="client">
                            <thead>
                            <tr>
                                <th data-field="uid" data-sortable="true" data-formatter="checkingDetailFormatter">Job ID</th>
                                <th data-field="filepath" data-sortable="true">File Path</th>
                                <th data-field="product_type_name" data-sortable="true">Product Type</th>
                                <th data-field="start_time" data-sortable="true">Start</th>
                                <th data-field="end_time" data-sortable="true">End</th>
                                <th data-field="status" data-sortable="false">Status</th>
                                <th data-field="percent_complete" data-sortable="true">Percent</th>
                                <th data-field="overall_result" data-sortable="true">Result</th>
                            </tr>
                            </thead>
                           <tbody>
                           </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="servers">
                        <form method="POST" class="post-form">{% csrf_token %}
                            Form..
                            <button type="submit" class="save btn btn-default">Run Checks!</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br><br>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/homepage.js' %}" type="text/javascript"></script>
{% endblock js %}
