<!-- Modal spinner -->
<div class="modal fade" id="modal-spinner" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modSpinTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h3 class="modal-title" id="modSpinTitle">Please wait...</h3>
      </div>
      <div class="modal-body" >
            <div style="height:200px">
              <span id="modal_spinner" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
            </div>
      </div>
      <br>
    </div>
  </div>
</div>