{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-table.min.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'dashboard/css/select2.min.css' %}" type="text/css" media="screen" />
{% endblock css %}

{% block content %}

    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="{% url 'deliveries' %}">Copernicus QC Tool</a></li>
              <!-- <li class="active"><a href="jobs">Jobs</a></li> -->
            </ol>

            <div class="main">
                <!-- Nav tabs -->
                <ul id="tabs_overview" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="tab_overview" href="#recent" aria-controls="home" role="tab" data-toggle="tab">File hash log</a></li>
                    <!--
                    <li role="presentation"><a id="tab_templates" href="#servers" aria-controls="messages" role="tab" data-toggle="tab">New Check Job</a></li>
                    -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="recent">
                        <div id="runs-toolbar-1">
                            File hash log for file: <strong><span id="job_filename">{{ filename }}</span></strong>
                            <!--<button id="btn-new class=btn btn-default">Start New Checking</button>-->
                        </div>
                        <table id="tbl-jobs" class="table" data-toggle="table" data-search-align="right" data-show-refresh="true" data-show-toggle="false" data-toolbar="#runs-toolbar-1" data-toolbar-align="left" data-show-filter="false" data-smart-display="true" data-sort-order="desc" data-show-export="false" data-pagination="true" data-side-pagination="client">
                            <thead>
                            <tr>
                                <th data-field="job_uuid" data-sortable="true" data-formatter="jobUuidFormatter">Job ID</th>
                                <th data-field="all_checks_selected" data-sortable="true" data-formatter="qcListFormatter">Quality check list</th>
                                <th data-field="start" data-sortable="true" data-formatter="dateFormatter">Start</th>
                                <th data-field="end" data-sortable="true" data-formatter="dateFormatter">End</th>
                                <th data-field="status" data-sortable="false">Status</th>
                                <th data-field="percent_complete" data-sortable="true">Percent</th>
                                <th data-field="overall_result" data-sortable="true">Result</th>
                            </tr>
                            </thead>
                           <tbody>
                           </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="servers">
                        <form method="POST" class="post-form">{% csrf_token %}
                            Form..
                            <button type="submit" class="save btn btn-default">Run Checks!</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br><br><br><br>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jobs.js' %}"></script>
{% endblock js %}
