{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QC Tool - resumable upload</title>
    <meta name="description" content=""/>
    <meta name="robots" content="{% block robots %}index, follow{% endblock robots %}"/>
    <meta name="keywords" content="eea, copernicus, qc, tool, gis, quality"/>
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-dialog.min.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
  <div id="wrap">
      <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
      <script src="{% static 'dashboard/js/resumable.js' %}"></script>

      <div id="main" class="clear-top">
          <nav id="menucontainer" class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">
                          <img src="{{ STATIC_URL }}dashboard/img/logo_copernicus_big.png" style="height:45px;margin-top:-13px;float:left" />
                          <img src="{{ STATIC_URL }}dashboard/img/logo_land_monitoring_medium.png" style="padding-left:25px;height:45px;margin-top:-13px;float:left" />
                          <span style="overflow: hidden;">&nbsp;&nbsp;CLMS QC Tool</span>
                      </a>
                  </div>
                  <div class="navbar-collapse collapse" style="line-height:150px; height:150px;">
                      <ul class="nav navbar-nav navbar-right main-menu">
                          {% block menu %}
                          {% if user.is_superuser %}
                          <li><a href="{% url 'boundaries'%}">
                              <span class="glyphicon glyphicon-cog"></span> Boundaries</a></li>
                          {% endif %}
                          <li><a href="https://github.com/eea/copernicus_quality_tools">
                              <span class="glyphicon glyphicon-cog"></span> Github</a></li>
                          <li><a href="https://github.com/eea/copernicus_quality_tools/wiki">
                              <span class="glyphicon glyphicon-question-sign"></span> Documentation</a></li>
                          {% if user.is_authenticated %}
                          <li><a href="{% url 'logout' %}?next=/">
                              <span class="glyphicon glyphicon-log-out"></span> Sign out ({{ user.get_username }})</a></li>
                          {% else %}
                          <li><a href="{% url 'login'%}">
                              <span class="glyphicon glyphicon-log-in"></span>Sign in</a></li>
                          {% endif %}
                          {% endblock %}
                      </ul>
                  </div>
              </div>
          </nav>

          <div class="container-fluid main" style="padding-top: 70px;">
              <div class="row text-left">

                  <ol class="breadcrumb">
                      <li><a href="/">{% if show_logo %}CLMS {% endif %}QC Tool</a></li>
                      <li class="active"><a href="">Upload ZIP Files</a></li>
                  </ol>

                  <div class="main">

                      <div id="tool-canvas">
                          <div class="panel panel-primary">
                              <div class="panel-heading">
                                  <div class="panel-title">
                                        Upload New Delivery Files
                                  </div>
                              </div>

                              <div class="panel-body">

                                  <!-- Resumable upload starts here -->
                                  <hr>
                                  <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
                                  <script src="{% static 'dashboard/js/resumable.js' %}"></script>

                                  <div class="resumable-error">
                                      Your browser, unfortunately, is not supported by Resumable.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
                                  </div>

                                  <div class="resumable-drop">
                                      Drop ZIP delivery files here to upload or <a class="resumable-browse" style="cursor: pointer;"><u>select from your computer</u></a>
                                  </div>
                                  <br>

                                  <div class="resumable-progress">
                                      <table>
                                          <tr>
                                            <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
                                            <td class="progress-text" nowrap="nowrap"></td>
                                            <td class="progress-pause" nowrap="nowrap">
                                              <a onclick="r.upload(); return(false);" class="progress-resume-link btn btn-primary">Resume upload</a>
                                              <a onclick="r.pause(); return(false);" class="progress-pause-link btn btn-primary">Pause upload</a>
                                              <!--<a type="button" href="#" onclick="r.pause(); return(false);" class="progress-pause-link">Pause upload<img src="{{ STATIC_URL }}dashboard/img/pause_upload.png" title="Pause upload" /></a>
                                              -->
                                                <a onclick="r.cancel(); return(false);" class="progress-cancel-link btn btn-primary">Cancel upload</a>
                                            </td>
                                          </tr>
                                      </table>
                                  </div>

                                  <ul class="resumable-list"></ul>
                                   <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        <span class="sr-only"></span>
                                      </div>
                                    </div>

                                  <!-- Resumable upload code ends here -->
                              </div> <!-- end panel-body -->
                          </div> <!-- end panel-primary -->
                      </div> <!-- end tool-canvas -->
                  </div> <!-- end main -->
              </div> <!-- end row text-left -->
          </div> <!-- end container-fluid main -->






      <script>
        var r = new Resumable({
            target:'/resumable_upload/',
            chunkSize:5*1024*1024,
            simultaneousUploads:4,
            testChunks:true,
            throttleProgressCallbacks:1,
            fileType: ['zip']
          });
        // Resumable.js isn't supported, fall back on a different method
        if(!r.support) {
          $('.resumable-error').show();
        } else {
          $('.resumable-error').hide();
          // Show a place for dropping/selecting files
          $('.resumable-drop').show();
          r.assignDrop($('.resumable-drop')[0]);
          r.assignBrowse($('.resumable-browse')[0]);
          // Handle file add event
          r.on('fileAdded', function(file){
              // Show progress bar
              $('.resumable-progress, .resumable-list').show();
              // Show pause, hide resume
              $('.resumable-progress .progress-resume-link').hide();
              $('.resumable-progress .progress-pause-link').show();
              // Add the file to the list
              $('.resumable-list').append('<li class="resumable-file-'+file.uniqueIdentifier+'">Uploading <span class="resumable-file-name"></span> <span class="resumable-file-progress"></span>');
              $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-name').html(file.fileName);
              // Actually start the upload
              r.upload();
            });
          r.on('pause', function(){
              // Show resume, hide pause
              $('.resumable-progress .progress-resume-link').show();
              $('.resumable-progress .progress-pause-link').hide();
            });
          r.on('complete', function(){
              // Hide pause/resume when the upload has completed
              $('.resumable-progress .progress-resume-link, .resumable-progress .progress-pause-link, .resumable-progress .progress-cancel-link').hide();
                var msg = '<tr><td><div class="alert alert-success">';
                msg += '<span class="glyphicon glyphicon-ok"></span>';
                msg += ' File uploaded successfully. ';
                msg += '<a class="btn btn-success btn-pull-right" href="/">Go Back to my Deliveries<a>';
                msg += '</div></td></tr>';
              if ($('.panel-body')[0].lastChild.nodeName != 'TR') {
                $('.panel-body').append(msg);
              }
              console.log('on complete!');
            });
          r.on('fileSuccess', function(file,message){
              // Reflect that the file upload has completed
              $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(completed)');
            });
          r.on('fileError', function(file, message){
              // Reflect that the file upload has resulted in error
              $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(file could not be uploaded: '+message+')');
              console.log(r);
              var msg = '<tr><td><div class="alert alert-warning">';
                msg += '<span class="glyphicon glyphicon-warning"></span>';
                msg += message;
                msg += '&nbsp;<a class="btn btn-warning btn-pull-right" href="/">Go Back to my Deliveries<a>';
                msg += '</div></td></tr>';
              $('.panel-body').append(msg);
              console.log('on fileError!');
            });
          r.on('fileProgress', function(file){
              // Handle progress for both the file and the overall upload
              $('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html(Math.floor(file.progress()*100) + '%');
              if (Math.floor(file.progress()*100 === 99)) {
                console.log('processing uploaded file ...');
              }
              $('.progress-bar').css({width:Math.floor(r.progress()*100) + '%'});
            });
          r.on('cancel', function(){
            $('.resumable-file-progress').html('canceled');
          });
          r.on('uploadStart', function(){
              // Show pause, hide resume
              $('.resumable-progress .progress-resume-link').hide();
              $('.resumable-progress .progress-pause-link').show();
          });
        }
      </script>


                {% block js %}
                    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap-table.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap-table-export.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/tableexport.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootbox.min.js' %}"></script>
                {% endblock js %}
            <br>
        <footer class="footer">
            {% include "dashboard/footer.html" %}
        </footer>
  </div>
  </div>
  </body>
</html>
