{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-table.min.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-dialog.min.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="container-fluid main" style="padding-top: 70px;">
        <div class="row text-left">

            <ol class="breadcrumb">
              <li><a href="/">Copernicus QC Tool</a></li>
              <li class="active"><a href="">New Job</a></li>
            </ol>

            <div class="main">

                <div id="tool-canvas">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Setup new QA job for product <strong>{{product}}</strong> (file: <strong>{{filename}}</strong>)
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Parameters</h4>
                            <form id = "check_form">
                                <fieldset></fieldset>

                                <div class="form-group">
                                    <label>Selected file: {{filename}}</label>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="select_product_type">Select Product Type</label>
                                            <span>  - </span>
                                            <input id="preselected_product" type="hidden" value="{{ product }}">
                                            <input id="preselected_file" type="hidden" value="{{ filename }}">
                                            <input id="current_username" type="hidden" value="{{ user.get_username }}">
                                            <select id="select_product_type" name="select_product_type" class="form-control" required
                                            data-error-msg="Please select a product type.">
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <table id="tbl_check_details" class="table" data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-toolbar-align="right" data-buttons-align="right" data-show-filter="false" data-smart-display="true" data-sort-order="desc" data-show-export="false" data-pagination="false" data-side-pagination="server">
                                    <thead>
                                    <tr>
                                        <th data-field="name" data-sortable="false">Check</th>
                                        <th data-field="description" data-sortable="false">Description</th>
                                        <th data-field="selected" data-sortable="false">
                                            <button type="button" id="btn_select_all" class="btn btn-default btn-md" onclick="select_all()">Select All</button>
                                            <button type="button" id="btn_unselect_all" class="btn btn-default btn-md" onclick="unselect_all()">Unselect All</button></th>
                                    </tr>
                                    </thead>
                                   <tbody>
                                   </tbody>
                                </table>
                                <br>

                                <div class="form-group">
                                <a id="product_type_link" href="/data/product_config/unknown/">Show Product Configuration</a>
                                </div>
                                <br>

                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    Run QC Session
                                </button>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <br><br><br><br>

    {% include "dashboard/html-spinner.html" %}


{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'dashboard/js/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'dashboard/js/bootstrap-dialog.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'dashboard/js/spin.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'dashboard/js/start_job.js' %}" type="text/javascript"></script>
{% endblock js %}