services:
  userdb:
    image: postgres:14
    container_name: qc_tool_userdb
    restart: always
    environment:
      POSTGRES_DB: qc_tool
      POSTGRES_USER: qc_user
      POSTGRES_PASSWORD: qc_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - qc_tool_network
  frontend:
    image: eeacms/copernicus-qctool-frontend:2.3.2
    ports:
      - 8000:8000
    environment:
      - PRODUCT_DIRS
      - BOUNDARY_DIR=/mnt/qc_tool_boundary/boundaries
      - INCOMING_DIR=/mnt/qc_tool_incoming/incoming
      - WORK_DIR=/mnt/qc_tool_work/work
      - SUBMISSION_DIR=/mnt/qc_tool_submission/submission
      - DB_ENGINE=postgres
      - POSTGRES_HOST=qc_tool_userdb
      - POSTGRES_PORT=5432
      - POSTGRES_DB=qc_tool
      - POSTGRES_USER=qc_user
      - POSTGRES_PASSWORD=qc_password
      - FRONTEND_DB_PATH=/mnt/qc_tool_work/frontend.sqlite3
      - API_URL=https://qc-copernicus.eea.europa.eu/api
      - UPDATE_JOB_STATUSES=yes
      - UPDATE_JOB_STATUSES_INTERVAL=30000
      - WORKER_ALIVE_TIMEOUT=5
      - REFRESH_JOB_STATUSES_BACKGROUND=yes
      - REFRESH_JOB_STATUSES_BACKGROUND_INTERVAL=60
      - MAINTENANCE_MODE=no
    networks:
      - qc_tool_network
    volumes:
      - qc_tool_boundary:/mnt/qc_tool_boundary
      - qc_tool_incoming:/mnt/qc_tool_incoming
      - qc_tool_submission:/mnt/qc_tool_submission
      - qc_tool_work:/mnt/qc_tool_work
      - qc_tool_frontend:/mnt/qc_tool_frontend

  worker:
    image: eeacms/copernicus-qctool-worker:2.3.2
    shm_size: 1gb
    environment:
      - PRODUCT_DIRS
      - BOUNDARY_DIR=/mnt/qc_tool_boundary/boundaries
      - INCOMING_DIR=/mnt/qc_tool_incoming/incoming
      - INSPIRE_SERVICE_URL=https://localhost:8080/validator/v2/
      - PULL_JOB_URL=http://frontend:8000/pull_job
      - WORK_DIR=/mnt/qc_tool_work/work
    networks:
      - qc_tool_network
    volumes:
      - qc_tool_boundary:/mnt/qc_tool_boundary
      - qc_tool_incoming:/mnt/qc_tool_incoming
      - qc_tool_work:/mnt/qc_tool_work

volumes:
  qc_tool_boundary:
    driver: local
  qc_tool_frontend:
    driver: local
  qc_tool_incoming:
    driver: local
  qc_tool_submission:
    driver: local
  qc_tool_work:
    driver: local
  postgres_data:
    driver: local

networks:
  qc_tool_network:
    driver: bridge
