{% load static %}
<li class="navbar-logout">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
            {% if error_page_navigation %}
            <svg class="error-icon" aria-hidden="true" focusable="false">
                <use href="{% static 'accounts/icons/error-ui.svg' %}#log-out"></use>
            </svg>
            {% else %}
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            {% endif %}
            <span class="navbar-logout-label">
                Sign out (<span class="navbar-user-name" title="{{ user.get_username }}">{{ user.get_username }}</span>)
            </span>
        </button>
    </form>
</li>
