{% extends "accounts/errors/base.html" %}
{% load static %}

{% block title %}Page not found · CLMS QC Tool{% endblock %}
{% block error_code %}404{% endblock %}
{% block error_title %}We couldn’t find that page{% endblock %}

{% block error_illustration %}
<img
    src="{% static 'accounts/img/error-404.webp' %}"
    alt=""
    width="1163"
    height="943"
>
{% endblock %}

{% block error_message %}
<p>
    The page may have moved, the address may be incomplete, or the item may
    no longer be available.
</p>
<p>Please check the address or go back to the homepage.</p>
{% endblock %}

{% block error_actions %}
<a class="btn btn-primary error-primary-action" href="{% url 'dashboard_home' %}">
        <svg class="ui-icon" aria-hidden="true" focusable="false">
            <use href="{% static 'dashboard/icons/ui.svg' %}#home"></use>
    </svg>
    Go to homepage
</a>
{% endblock %}
