{% load static %}
<div id="section-footer" class="site-footer">
    <div class="site-footer__logos">
        <a class="site-footer__link" href="https://copernicus.eu" aria-label="Copernicus website">
            <img class="site-footer__logo" src="{% static 'dashboard/img/copernicus_eu_logo.svg' %}" alt="">
        </a>
        <a class="site-footer__link" href="https://eea.europa.eu" aria-label="European Environment Agency website">
            <img class="site-footer__logo" src="{% static 'dashboard/img/logo_eea_square.png' %}" alt="">
        </a>
    </div>
    <p class="site-footer__copyright">Copyright © 2019-{% now "Y" %} Copernicus Programme</p>
</div>
