{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CLMS QC-Tool{% endblock title %}</title>
        <meta name="description" content=""/>
        <meta name="robots" content="{% block robots %}noindex, nofollow, noarchive{% endblock robots %}"/>
        <meta name="keywords" content="eea, copernicus, qc, tool, gis, quality"/>
        <meta name="csrf-token" content="{{ csrf_token }}">
        <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dashboard/css/ui/tokens.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/ui/shell.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/ui/actions.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/messages.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-dialog.min.css' %}" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}"/>

        {% block css %}{% endblock css %}

        {% block js_head %}{% endblock js_head %}

    </head>
    <body class="qc-shell {% block body_class %}{% endblock body_class %}">
        {% block skip_links %}<a class="skip-link" href="#main-content">Skip to main content</a>{% endblock skip_links %}
        <div id="wrap">
            <div id="main" class="clear-top">
                <header class="site-header">
                <nav id="menucontainer" class="navbar navbar-default" aria-label="Primary navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            {% url 'dashboard_home' as homepage_url %}
                            <a class="navbar-brand" href="{% block brand_url %}{{ homepage_url|default:'/' }}{% endblock brand_url %}">
                                <img
                                    class="navbar-brand-logo navbar-brand-logo-copernicus"
                                    src="{% static 'dashboard/img/logo_copernicus_big.png' %}"
                                    alt=""
                                />
                                <img
                                    class="navbar-brand-logo navbar-brand-logo-land-monitoring"
                                    src="{% static 'dashboard/img/logo_land_monitoring_medium.png' %}"
                                    alt=""
                                />
                                <span class="navbar-brand-title">CLMS QC Tool</span>
                            </a>
                            <button
                                type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#primary-navigation-menu"
                                aria-controls="primary-navigation-menu"
                                aria-expanded="false"
                            >
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="primary-navigation-menu" class="navbar-collapse collapse navbar-menu">
                            <ul class="nav navbar-nav navbar-right main-menu">
                                {% block menu %}
                                {% include "dashboard/shared/navigation.html" %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </nav>
                </header>

                {% include "accounts/includes/messages.html" %}

                <main id="main-content" class="site-main {% block main_class %}{% endblock main_class %}" tabindex="-1">
                    {% block content %}{% endblock content %}
                </main>

                {% block js %}
                    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/shared/csrf.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap-table.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootstrap-table-export.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/tableexport.min.js' %}"></script>
                    <script src="{% static 'dashboard/js/bootbox.min.js' %}"></script>
                {% endblock js %}
            </div>
        </div>
        <footer class="footer">
            {% include "dashboard/shared/footer.html" %}
        </footer>
    </body>
</html>
